{{#is "post"}}
    {{#if comments}}
        <div class="gh-comments gh-read-next gh-canvas">
            <section class="gh-pagehead">
                <h4 class="gh-pagehead-title">Comments ({{comment_count empty="0" singular="" plural=""}})</h3>
            </section>
            {{comments title="" count=false}}
            <div class="fb-comments" data-href="{{url absolute="true"}}" data-numposts="10"></div>
        </div>
    {{/if}}
{{/is}}