<div class="widget-area">
    {{> widgets/widget-facebook}}
    {{> widgets/widget-friends}}
    {{> widgets/widget-tags}}
    {{> widgets/widget-feature}}
    {{#is "post"}}
        {{> widgets/widget-recent}}
    {{/is}}
</div>