<div class="widget u-shadow widget-recent">
  <div class="widget-head">
    <a href="{{@site.url}}">
      <h2>
        <b>{{@site.title}}</b>
      </h2>
      <p>{{@site.description}}</p>
    </a>
  </div>
  <div class="widget-facebook">
    <h2 class="widget-title text-center">Người lạ ơi hãy cho mình 1 👍! </h2>
    <div class="fb-page" data-href="https://www.facebook.com/blogkikiguru/"
         data-width="" data-height="150"
         data-small-header="false" data-adapt-container-width="true"
         data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/blogkikiguru/"
                  class="fb-xfbml-parse-ignore">
        <a aria-label="KiKi Guru Facebook Page" title="KiKi Guru Facebook Page"
           href="https://www.facebook.com/blogkikiguru/">
          <div class="loading"><i class="icon icon-facebook"></i></div>
        </a></blockquote>
    </div>
  </div>
</div>